#//////////
# project
#//////////

build/
data/
dist/
failure/

#//////////
# VS Code
#//////////

.vscode

#//////////
# mac
#//////////

.DS_Store

#//////////
# NodeJs
#//////////

node_modules/

#//////////
# Svn
#//////////

.svn/